- @articles.each do |article|
  #content
    #b
      #t
        #tl
      #l
        #r
          #inf
            #event_title
              %H2            
                = link_to article.title, article
            #date
              = article.date && Russian::strftime(article.date,"%d %B %Y")
            #event_info
              %span{:style =>"margin-left: 20px; margin-top:10px; display:inline-block;width: 100%;"}
                = simple_format article.resume
            #manage{:style=>"float: right;"}
              - if current_user && current_user.is_admin?
                = link_to "Редактировать", edit_admin_article_path(article)
      #br
        #bl
