<script type="text/javascript">
reformal_wdg_w    = "713";
reformal_wdg_h    = "460";
reformal_wdg_domain    = "photocross";
reformal_wdg_mode    = 0;
reformal_wdg_title   = "Фотокросс";
reformal_wdg_ltitle  = "Предложения, вопросы, пожелания";
reformal_wdg_lfont   = "";
reformal_wdg_lsize   = "";
reformal_wdg_color   = "#ff5100";
reformal_wdg_bcolor  = "#f76a05";
reformal_wdg_tcolor  = "#FFFFFF";
reformal_wdg_align   = "left";
reformal_wdg_charset = "utf-8";
reformal_wdg_waction = 0;
reformal_wdg_vcolor  = "#f76a05";
reformal_wdg_cmline  = "#E0E0E0";
reformal_wdg_glcolor  = "#f76a05";
reformal_wdg_tbcolor  = "#FFFFFF";
reformal_wdg_tcolor_aw4  = "#3F4543";
 
reformal_wdg_bimage = "f56c2633e7d86ec2fc7db1a4569b2150.png";
 
</script>

<script type="text/javascript" language="JavaScript" src="http://reformal.ru/tabn2v4.js"></script><noscript><a href="http://photocross.reformal.ru">Фотокросс feedback</a> <a href="http://reformal.ru">на платформе <img src="http://widget.reformal.ru/i/reformal_ru.png" /></a></noscript>