!!!
%html
  %head
    %title ФОТОКРОСС
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "content-type" }
    = stylesheet_link_tag  "jrails", "swfupload", "cookie", "application"
  %body
    =yield